MONGODB_URI=
MONGODB_DB_NAME=madhuri_creation

ADMIN_USERNAME=admin
ADMIN_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

JWT_SECRET=
PORT=8000
